functional_program_design_in_scala/quickcheck/project/
functional_program_design_in_scala/quickcheck/target/
functional_program_design_in_scala/streams/project/target/
functional_program_design_in_scala/streams/project/project/
functional_program_design_in_scala/streams/target/
functional_program_design_in_scala/codecs/project/target/
functional_program_design_in_scala/codecs/project/project/
functional_program_design_in_scala/codecs/target/
functional_program_design_in_scala/calculator/project/project/
functional_program_design_in_scala/calculator/project/target/
functional_program_design_in_scala/calculator/target/
functional_program_design_in_scala/calculator/web-ui/target/
parallel_programming/scalashop/project/project/
parallel_programming/scalashop/project/target/
parallel_programming/scalashop/target/
parallel_programming/reductions/project/project/
parallel_programming/reductions/project/target/
parallel_programming/reductions/target/
parallel_programming/kmeans/project/project/
parallel_programming/kmeans/project/target/
parallel_programming/kmeans/target/
parallel_programming/barneshut/project/project/
parallel_programming/barneshut/project/target/
parallel_programming/barneshut/target/
spark/wikipedia/src/main/resources/wikipedia
spark/wikipedia/project/project/
spark/wikipedia/project/target/
spark/wikipedia/target/
