functional_program_design_in_scala/quickcheck/project/
functional_program_design_in_scala/quickcheck/target/
functional_program_design_in_scala/streams/project/target/
functional_program_design_in_scala/streams/project/project/
functional_program_design_in_scala/streams/target/
functional_program_design_in_scala/codecs/project/target/
functional_program_design_in_scala/codecs/project/project/
functional_program_design_in_scala/codecs/target/
